In [104]:
import signals
import pandas as pd

In [105]:
path = r"C:\Users\8prab\Google Drive\Work\trading\NIFTY_data\NIFTY_2008_2020.csv"
data = pd.read_csv(path)

In [106]:
data.head()

  Instrument      Date   Time     Open     High      Low    Close
0      NIFTY  20080101  09:55  6138.60  6154.60  6138.60  6148.90
1      NIFTY  20080101  09:56  6149.75  6149.75  6132.80  6132.80
2      NIFTY  20080101  09:57  6138.25  6138.25  6127.95  6127.95
3      NIFTY  20080101  09:58  6127.15  6127.15  6120.90  6120.90
4      NIFTY  20080101  09:59  6118.05  6118.05  6113.55  6113.90

In [107]:
from datetime import datetime
def convert_date(indate,datefmt="%Y%m%d %H:%M"):
    return datetime.strptime(indate, datefmt)

In [108]:
from functools import partial

def create_timeframe_df(data,time_frames,date_fmt,date_col,time_col,base_location,saved_file_prefix='data',save_data = True):
    paths =[]
    for time_frame in time_frames:
        if time_frame == '3min':
            tmpdf = data[data[time_col].str[-2:].isin(['03','06','09','12','15','18','21','24','27','30','33','36','39','42','45','48','51','54','57','60'])].reset_index(drop=True)
        elif time_frame == '5min':
            tmpdf = data[data[time_col].str[-1:].isin(['0','5'])].reset_index(drop=True)
        elif time_frame == '10min':
            tmpdf = data[data[time_col].str[-1:].isin(['0','5'])].reset_index(drop=True)
        elif time_frame == '15min':
            tmpdf = data[data[time_col].str[-2:].isin(['15','30','45','00'])].reset_index(drop=True)
        elif time_frame == '30min':
            tmpdf = data[data[time_col].str[-2:].isin(['30','00'])].reset_index(drop=True)
        elif time_frame == '1hour':
            tmpdf = data[data[time_col].str[-2:].isin(['00'])].reset_index(drop=True)
        elif time_frame  == 'openinghr':
            tmpdf = data[data[time_col].str[:2].isin(['09'])].reset_index(drop=True)
        elif time_frame  == 'lasthr':
            tmpdf = data[data[time_col].str[:2].isin(['15'])].reset_index(drop=True)
        
        f = partial(convert_date,datefmt = date_fmt)
        tmpdf[date_col] = tmpdf[date_col].astype('str') + ' '+ tmpdf[time_col].astype('str')
        tmpdf[date_col] = tmpdf[date_col].apply(f)
        tmpdf.index = tmpdf[date_col]
        tmpdf = tmpdf.drop([date_col,time_col],axis=1)
        if save_data:
            filepath = f'{base_location}{saved_file_prefix}_{time_frame}.csv'
            tmpdf.to_csv(filepath)
            print(f"Save at location {filepath}")
        paths.append(filepath)
    return paths

In [109]:
time_frames = ['3min','5min','10min','15min','30min','1hour','openinghr','lasthr']
saved_file_prefix = 'data'
save_data = True
base_location = './NIFTY_data/'
time_col = 'Time'
date_col = 'Date'
date_fmt = "%Y%m%d %H:%M"
saved_path = create_timeframe_df(data,time_frames,date_fmt,date_col,time_col,base_location,saved_file_prefix,save_data)

Save at location ./NIFTY_data/data_3min.csv
Save at location ./NIFTY_data/data_5min.csv
Save at location ./NIFTY_data/data_10min.csv
Save at location ./NIFTY_data/data_15min.csv
Save at location ./NIFTY_data/data_30min.csv
Save at location ./NIFTY_data/data_1hour.csv
Save at location ./NIFTY_data/data_openinghr.csv
Save at location ./NIFTY_data/data_lasthr.csv

In [110]:
saved_path

['./NIFTY_data/data_3min.csv',
 './NIFTY_data/data_5min.csv',
 './NIFTY_data/data_10min.csv',
 './NIFTY_data/data_15min.csv',
 './NIFTY_data/data_30min.csv',
 './NIFTY_data/data_1hour.csv',
 './NIFTY_data/data_openinghr.csv',
 './NIFTY_data/data_lasthr.csv']

In [111]:
fk = pd.read_csv(saved_path[1])
fk

                       Date Instrument      Open      High       Low     Close
0       2008-01-01 09:55:00      NIFTY   6138.60   6154.60   6138.60   6148.90
1       2008-01-01 10:00:00      NIFTY   6114.05   6123.35   6114.05   6123.35
2       2008-01-01 10:05:00      NIFTY   6110.50   6114.35   6110.50   6114.35
3       2008-01-01 10:10:00      NIFTY   6128.70   6130.15   6128.60   6129.45
4       2008-01-01 10:15:00      NIFTY   6124.85   6125.85   6123.45   6125.65
...                     ...        ...       ...       ...       ...       ...
235247  2020-11-27 15:10:00      NIFTY  12971.70  12976.40  12970.65  12971.95
235248  2020-11-27 15:15:00      NIFTY  12980.55  12983.35  12978.20  12979.95
235249  2020-11-27 15:20:00      NIFTY  12967.95  12973.60  12967.80  12973.10
235250  2020-11-27 15:25:00      NIFTY  12975.40  12975.45  12970.65  12970.65
235251  2020-11-27 15:30:00      NIFTY  12936.40  12948.60  12933.85  12942.85

[235252 rows x 6 columns]

In [57]:
data_03min = data[data['Time'].str[-2:].isin(['03','06','09','12','15','18','21','24','27','30','33','36','39','42','45','48','51','54','57','60'])].reset_index(drop=True)
data_03min['Date'] = data_03min['Date'].astype('str') + ' '+ data_03min['Time'].astype('str')
data_03min['Date'] = data_03min['Date'].apply(f)
data_03min.to_csv('./NIFTY_data/data_03min.csv')

data_05min = data[data['Time'].str[-1:].isin(['0','5'])].reset_index(drop=True)
data_05min['Date'] = data_05min['Date'].astype('str') + ' '+ data_05min['Time'].astype('str')
data_05min['Date'] = data_05min['Date'].apply(f)
data_05min.to_csv('./NIFTY_data/data_05min.csv')


data_10min = data[data['Time'].str[-1:].isin(['0'])].reset_index(drop=True)
data_10min['Date'] = data_10min['Date'].astype('str') + ' '+ data_10min['Time'].astype('str')
data_10min['Date'] = data_10min['Date'].apply(f)
data_10min.to_csv('./NIFTY_data/data_10min.csv')

data_15min = data[data['Time'].str[-2:].isin(['15','30','45','00'])].reset_index(drop=True)
data_15min['Date'] = data_15min['Date'].astype('str') + ' '+ data_15min['Time'].astype('str')
data_15min['Date'] = data_15min['Date'].apply(f)
data_15min.to_csv('./NIFTY_data/data_15min.csv')

data_30min = data[data['Time'].str[-2:].isin(['30','00'])].reset_index(drop=True)
data_30min['Date'] = data_30min['Date'].astype('str') + ' '+ data_30min['Time'].astype('str')
data_30min['Date'] = data_30min['Date'].apply(f)
data_30min.to_csv('./NIFTY_data/data_30min.csv')


data_01hour = data[data['Time'].str[-2:].isin(['00'])].reset_index(drop=True)
data_01hour['Date'] = data_01hour['Date'].astype('str') + ' '+ data_01hour['Time'].astype('str')
data_01hour['Date'] = data_01hour['Date'].apply(f)
data_01hour.to_csv('./NIFTY_data/data_01hour.csv')


data_openinghr = data[data['Time'].str[:2].isin(['09'])].reset_index(drop=True)
data_openinghr['Date'] = data_openinghr['Date'].astype('str') + ' '+ data_openinghr['Time'].astype('str')
data_openinghr['Date'] = data_openinghr['Date'].apply(f)
data_openinghr.to_csv('./NIFTY_data/data_openinghr.csv')


data_lasthr = data[data['Time'].str[:2].isin(['15'])].reset_index(drop=True)
data_lasthr['Date'] = data_lasthr['Date'].astype('str') + ' '+ data_lasthr['Time'].astype('str')
data_lasthr['Date'] = data_lasthr['Date'].apply(f)
data_lasthr.to_csv('./NIFTY_data/data_lasthr.csv')

In [59]:
data_lasthr.dtypes

Instrument            object
Date          datetime64[ns]
Time                  object
Open                 float64
High                 float64
Low                  float64
Close                float64
dtype: object

In [62]:
data_lasthr.index = data_lasthr['Date']
data_lasthr['label'] = data_lasthr['Close'].shift(-1)
data_lasthr['label'] = data_lasthr.where((data_lasthr['Close'] - data_lasthr['label'].shift(-1)) > 0, 1, 0)

ValueError: For argument "inplace" expected type bool, received type int.

In [63]:
data_lasthr

,Instrument,Date,Time,Open,High,Low,Close,label
Date,,,,,,,,
2008-01-01 15:00:00,NIFTY,2008-01-01 15:00:00,15:00,6132.30,6134.00,6132.30,6132.65,6133.45
2008-01-01 15:01:00,NIFTY,2008-01-01 15:01:00,15:01,6133.75,6134.25,6131.55,6133.45,6135.80
2008-01-01 15:02:00,NIFTY,2008-01-01 15:02:00,15:02,6135.85,6135.85,6134.85,6135.80,6132.45
2008-01-01 15:03:00,NIFTY,2008-01-01 15:03:00,15:03,6134.10,6134.65,6131.00,6132.45,6125.80
2008-01-01 15:04:00,NIFTY,2008-01-01 15:04:00,15:04,6132.90,6132.90,6125.80,6125.80,6123.45
...,...,...,...,...,...,...,...,...
2020-11-27 15:28:00,NIFTY,2020-11-27 15:28:00,15:28,12947.00,12947.00,12927.95,12927.95,12937.70
2020-11-27 15:29:00,NIFTY,2020-11-27 15:29:00,15:29,12928.35,12947.90,12928.35,12937.70,12942.85
2020-11-27 15:30:00,NIFTY,2020-11-27 15:30:00,15:30,12936.40,12948.60,12933.85,12942.85,12941.95
2020-11-27 15:31:00,NIFTY,2020-11-27 15:31:00,15:31,12941.95,12941.95,12941.95,12941.95,12968.95
2020-11-27 15:32:00,NIFTY,2020-11-27 15:32:00,15:32,12943.05,12968.95,12943.05,12968.95,NaN